<div class="via-omni slds-text-align_center" ng-controller="editableTableMapingController" ng-init="setMap(records)">
    <input class="vloc-modal-input-upload" id="modal-file-upload" type="file" ng-if="uploadInfo.status == 'ready'" />
    <div class="panel panel-success" ng-if="uploadInfo.status == 'success'" >
        <div class="panel-heading">Upload Succeeded</div>
        <div class="panel-body">{{ uploadInfo['recordsUploaded'] }} Records </div>
    </div>
    <div class="vloc-modal-buttons">
    <button class="slds-button slds-button_brand" ng-show="uploadInfo.status != 'success'" ng-hide="uploadInfo.status == 'mapped'" ng-click="onUpload()">Upload</button>
    <button class="slds-button slds-button_brand vloc-modal-action" ng-disabled="uploadInfo.status == 'mapped'" ng-show="uploadInfo.status == 'success' || uploadInfo.status == 'mapped'" ng-click="mapFile()">Map File</button>
    </div>
    <div ng-if="uploadInfo.status == 'success' || uploadInfo.status == 'mapped'">
        <div class="slds-size_1-of-1 vloc-slds-underline--gradient slds-m-top_small slds-m-bottom_large slds-m-top_large">
            <h1 class="vloc-slds-page_header">Identify CSV File Mappings</h1>
        </div>
        <div class="slds-m-bottom_small slds-size_1-of-3 vloc-grid" ng-repeat="(field, value) in cardFieldMap">
            <div class="vloc-slds-inline-control__label slds-p-left_small">
                {{field}}
            </div>
            <select ng-disabled="uploadInfo.status == 'mapped'" ng-options="opt for opt in csvHeaders" ng-model="cardFieldMap[field]" class="slds-select vloc-attrs-select slds-size_1-of-2" id="select-{{$index}}-{{value}}">
            </select>
        </div>
    </div>
</div>