.via-slds {
    .ins-os-confirmation-wrapper {
        p {
            margin-bottom: 1rem;
            
            a {
                color: #16325C;
            }
        }
        
        .ins-os-confirmation-card {
            border: 1px solid #0070D2;
            background-color: #F8FBFE;
            color: #16325C;
            border-radius: 0.25rem;
            padding: 1.25rem 1.5rem;
            margin-bottom: 1.5rem;
            line-height: 1.4;

            h3 {
                font-weight: bold;
                font-size: 1.25rem;
            }
            .ins-os-amount-container {
                text-align: right;
            }

            .ins-os-confirmation-annual-premium {
                line-height: 1.75rem;
            }

            .ins-os-confirmation-value {
                font-weight: bold;
            }

            .ins-os-confirmation-print-desktop {
                a {
                    color: #01A7E1;
                }
            }

            .ins-os-confirmation-print-mobile {
                display: none;

                a {
                    color: #01A7E1;
                }
            }
        }

        .ins-os-confirmation-items {
            display: flex;
            justify-content: space-between;
        }
    }

    @media screen and (max-width: 650px) {
        .ins-os-confirmation-wrapper {
            .ins-os-confirmation-card {
                .ins-os-confirmation-print-desktop {
                    display: none;
                }

                .ins-os-confirmation-print-mobile {
                    display: block;
                }

                .ins-os-confirmation-exp-date {
                    display: block;
                }

                .ins-os-confirmation-annual-premium {
                    text-align: left;
                }

                .ins-os-confirmation-m-top--x-small {
                    margin-top: 0.5rem;
                }

                .ins-os-confirmation-m-bottom--x-small {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}