.via-slds {
    .ins-os-product-rules-review-wrapper {
        p {
            margin-bottom: 1rem;
                font-size: 14px;
            
            a {
                color: #16325C;
            }
        }
        h3{
            font-size:16px;
            text-align: center;    
                }
                h4{
                    font-size: 14px;
                }
        .ins-os-product-rules-review-card {
            color: #16325C;
            border-radius: 0.25rem;
            padding: 1.25rem 1.5rem;
            margin-bottom: 1.5rem;
            line-height: 1.4;

            .ins-os-product-rules-review-rule {
                font-size: 0.8125rem;

                .ins-os-product-rules-review-rule-number {
                    span {
                        width: 1.75rem;
                        height: 1.75rem;
                        display: block;
                        background-color: #0070D2;
                        border-radius: 50%;
                        color: white;
                        text-align: center;
                        line-height: 1.75rem;
                    }
                }
                .ins-os-product-rules-review-rule-details {
                    h4 {
                        
                    }
                }
            }
        }
    }

    @media screen and (max-width: 650px) {
        .ins-os-product-rules-review-wrapper {
            .ins-os-product-rules-review-card {
                
            }
        }
    }
}