<div class="slds-spinner_container vloc-spinner_container vloc-show-loader" ng-show="!$root.isLoaded">
    <div class="slds-spinner_brand slds-spinner slds-spinner_medium" aria-hidden="false" role="alert">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
    </div>
</div>
<div class="slds-notify_container" ng-show="$root.notification.active">
    <div class="slds-notify slds-notify_toast" role="alert" ng-class="{'slds-theme_success': $root.notification.type === 'success', 'slds-theme_error': $root.notification.type === 'error'}">
        <button class="slds-button slds-button_icon-inverse slds-notify__close" ng-click="$root.notification.active = false">
            <slds-button-svg-icon sprite="'utility'" icon="'close'"></slds-button-svg-icon>
            <span class="slds-assistive-text">{{ ::$root.customLabels.Close }}</span>
        </button>
        <span class="slds-assistive-text">{{ ::$root.customLabels.InsAssetInfo }}</span>
        <h2 ng-bind-html="$root.notification.message"></h2>
    </div>
</div> 

<div class="slds-grid" ng-if="!$root.layoutIsLoading && payload.result" ng-init="importedScope.initData(params, payload.result); importedScope.setActivePlan(null, records);">
    <div class="slds-col slds-size_1-of-1 slds-p-right_small vloc-left-col vloc-transition" ng-class="{'slds-size_6-of-12': $root.showPanel}">
        <div class="slds-m-bottom_x-small">
            <div class="slds-box slds-theme_shade slds-wrap slds-grid slds-grid_vertical-align-center vloc-qli-shade-box" ng-class="{'slds-has-bottom-magnet': $rootScope.addProductOpen}">
                <div class="vloc-add-product-link slds-size_1-of-3">
                    <a class="slds-m-left_xx-small slds-truncate" ng-click="$root.showPanel = false; $rootScope.addProductOpen = !$rootScope.addProductOpen; importedScope.getEligibleProducts($root.addProductType)">{{ ::$root.customLabels.InsQuotesAddProduct }}</a>
                </div>
                <div class="slds-grid slds-grid_align-end slds-size_2-of-3">
                    <vloc-card ng-model="cards[0]" data="cards[0]" index="{{$index}}" session-id="{{sessionId}}" ctrl="InsLargeGroupQuotePlansController" params-id="{{attrs.paramsId}}"></vloc-card>
                    <div class="vloc-product-type-select-container slds-grid slds-wrap slds-grid_vertical-align-center">
                        <span class="slds-p-left_small" ng-if="$rootScope.addProductOpen" ng-click="importedScope.showFilter = !importedScope.showFilter">
                            <slds-button-svg-icon sprite="'utility'" icon="'filterList'" no-hint="true" size="'large'"></slds-button-svg-icon>
                        </span>
                        <span class="slds-p-left_small" ng-click="$root.showPanel = false; $rootScope.addProductOpen = !$rootScope.addProductOpen" ng-class="{'vloc-add-product-open': $rootScope.addProductOpen}">
                            <slds-button-svg-icon sprite="'utility'" icon="'right'" no-hint="true" size="'large'"></slds-button-svg-icon>
                        </span>
                    </div>
                </div>
            </div>

            <div class="vloc-add-product slds-border_right slds-border_left slds-grid slds-wrap slds-has-top-magnet" ng-show="$rootScope.addProductOpen">
                <div class="slds-p-around_small slds-size_1-of-1 slds-border_bottom" ng-if="importedScope.showFilter">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                            <slds-button-svg-icon sprite="'utility'" icon="'search'" no-hint="true" extra-classes="'slds-input__icon slds-input__icon_left'"></slds-button-svg-icon>
                            <input class="slds-input" placeholder="{{ ::$root.customLabels.InsQuotesSearchProducts }}" ng-model="importedScope.searchTerm" />
                        </div>
                    </div>
                </div>
                <div class="vloc-box_product slds-theme_shade slds-size_1-of-1 slds-grid slds-wrap slds-border_bottom" ng-repeat="record in $root.productTypeMap[$root.addProductType.id] | filter : importedScope.searchTerm| orderBy : 'Name'" ng-if="!record.isQLI">
                    <!--Title-->
                    <div class="vloc-type-icon slds-grid" ng-class="{'not-recommended': !record.IsRecommended__c, 'gold': record.Tier__c === 'Gold', 'silver' : record.Tier__c === 'Silver', 'bronze' : record.Tier__c === 'Bronze', 'vloc-is-reccomended' : record.IsRecommended__c}">
                        <div class="vloc-popover" style="padding-left: 2rem;padding-top: 5rem;top: -4px;position: absolute;width: 14rem;left: 1.3rem;">
                            <div class="slds-popover slds-popover_tooltip slds-nubbin_left" role="tooltip" id="help" style="position: absolute; top: 0px; left: 15px;"
                                ng-if="record.Tier__c || record.IsRecommended__c">
                                <div class="slds-popover__body">
                                    <span ng-if="record.Tier__c">{{record.Tier__c}} {{ ::$root.customLabels.InsQuotesTier }}
                                        <span ng-if="record.IsRecommended__c"> & </span>
                                    </span>
                                    <span class="record.IsRecommended__c" ng-if="record.IsRecommended__c">{{ ::$root.customLabels.InsQuotesRecommended }}</span>
                                </div>
                            </div>
                        </div>
                        <span class="letter" ng-if="record.Tier__c === 'Gold' && !record.IsRecommended__c">G</span>
                        <span class="letter" ng-if="record.Tier__c === 'Silver' && !record.IsRecommended__c">S</span>
                        <span class="letter" ng-if="record.Tier__c === 'Bronze' && !record.IsRecommended__c">B</span>
                        <div ng-if="record.IsRecommended__c">
                            <slds-button-svg-icon sprite="'action'" size="'check'" icon="'check'" extra-classes="'slds-button__icon_left'"></slds-button-svg-icon>
                        </div>
                    </div>
                    <div class="slds-size_2-of-7">
                        <h1 class="vloc-product-title slds-text-heading_medium slds-p-around_small slds-m-bottom_xx-small slds-p-right_x-small slds-truncate slds-m-left_xxx-small"
                            title="{{importedScope.vlocProdSelectItem.record.Name}}">{{record.Name}}
                            <span class="slds-text-align_right">{{record.Price | currency}}</span>
                        </h1>
                    </div>
                    <!--Attributes-->
                    <div class="vloc-record-description slds-size_1-of-3 slds-p-top_medium slds-truncate" ng-class="{'long-description': record.Description.length > 60}">{{record.Description}}</div>
                    <div class="slds-size_1-of-3 slds-grid slds-wrap slds-p-right_small">
                        <div class="slds-grid slds-size_1-of-2 slds-text-align_center slds-p-top_medium">
                            <div ng-if="!record.showFlyOut" class="slds-size_1-of-1 slds-text-align_center slds-text-link vloc-footer-link" ng-click="record.showFlyOut = true">{{ ::$root.customLabels.Details }}</div>
                            <div ng-if="record.showFlyOut" class="slds-size_1-of-1 slds-text-align_center slds-text-link vloc-footer-link" ng-click="record.showFlyOut = false">{{ ::$root.customLabels.InsQuotesHideDetails }}</div>
                            <div class="vloc-footer-divider"></div>
                        </div>
                        <button ng-disabled="record.isReplace" class="slds-button slds-button_brand slds-size_1-of-2 slds-p-around_x-small slds-m-vertical_x-small  slds-text-title_caps vloc-button_select" ng-click="record.isSelected = true; importedScope.addItemLargeGroup(record); $rootScope.addProductOpen = false">
                            <slds-button-svg-icon sprite="'utility'" size="'small'" icon="'check'" extra-classes="'slds-button__icon_left'" ng-show="record.isSelected"></slds-button-svg-icon>
                            <span ng-show="!record.isSelected">{{ ::$root.customLabels.Select }}</span>
                            <span ng-show="record.isSelected">{{ ::$root.customLabels.Selected }}</span>
                        </button>
                    </div>
                    <div class="vloc-flyout slds-size_1-of-1 slds-border_top slds-p-bottom_small" ng-class="{'hidden' : !record.showFlyOut}">
                        <div class="vloc-flyout-triangle"></div>
                        <div class="vloc-flyout-inner-triangle"></div>
                        <div class="slds-p-top_small slds-p-horizontal_small slds-grid slds-wrap" ng-repeat="catt in record.attributeCategories.records">
                            <div class="slds-text-title_caps slds-size_1-of-1">{{catt.Name}}</div>
                            <div ng-repeat="attr in catt.productAttributes.records" class="slds-size_1-of-4">
                                <div class="slds-m-right_xx-small slds-truncate">{{attr.label}}</div>
                                <div class="slds-size_1-of-1 slds-p-right_small slds-truncate slds-m-bottom_xx-small">
                                    <span ng-if="attr.dataType !== 'currency' && attr.dataType !== 'percentage'">
                                        {{attr.userValues}}
                                    </span>
                                    <span ng-if="attr.dataType === 'currency'">
                                        {{attr.userValues | currency}}
                                    </span>
                                    <span ng-if="attr.dataType === 'percentage'">
                                        {{attr.userValues}}%
                                    </span>
                                    <span ng-if="attr.userValues === null">
                                        --
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="slds-p-around_small" ng-if="!record.attributeCategories.records.length">
                            {{ ::$root.customLabels.InsQuotesNoAttributes }}
                        </div>

                    </div>
                </div>
                <div ng-if="!$root.productTypeMap[$root.addProductType.id] && $root.isLoaded" class="slds-size_1-of-1 vloc-no-products slds-border_bottom">
                    <div class="slds-p-around_small slds-theme_warning slds-m-around_large slds-text-align_center vloc-no-products-message">
                        {{ ::$root.customLabels.InsQuotesNoProductsReturned }}
                    </div>
                </div>
            </div>
        </div>

        <div class="slds-m-bottom_small slds-box slds-grid slds-grid_vertical-align-center vloc-plan-row" ng-repeat="record in records" ng-class="{'vloc-plan-row-active': record.LineNumber === $root.activeRow.LineNumber}" ng-click="importedScope.setActivePlan(record)">
            <div class="slds-size_4-of-5 slds-grid">
                <span class="slds-size_3-of-4 slds-p-horizontal_small slds-truncate">
                    <span class="slds-p-right_large">{{$index + 1}}</span>
                    <span ng-if="record[$root.nsPrefix + 'ItemName__c']">{{record[$root.nsPrefix + 'ItemName__c']}} </span>
                    <span>({{record['Product2.Name']}})</span>
                </span>
                <span class="slds-size_1-of-4 slds-p-horizontal_small slds-truncate">{{record['Product2.ProductCode']}}</span>
            </div>
            <div class="slds-size_1-of-5 slds-grid slds-grid_align-end">
                <div class="vloc-plan-row-action slds-p-right_large">
                    <button class="slds-button slds-button_link vloc-plan-row-edit-link" ng-click="importedScope.navigateTo(record, $event)">{{ ::$root.customLabels.Edit }}</button>
                </div>
                <div class="vloc-plan-row-action slds-m-right_medium" title="{{::$root.customLabels.InsQuoteClonePlan}}">
                    <slds-button-svg-icon sprite="'utility'" icon="'copy'" no-hint="true" ng-click="importedScope.cloneRootQuoteLine(record.Id, $event)"></slds-button-svg-icon>
                </div>
                <div class="vloc-plan-row-action slds-m-right_medium" title="{{::$root.customLabels.InsQuoteRemovePlan}}">
                    <slds-button-svg-icon sprite="'utility'" icon="'delete'" no-hint="true" ng-click="importedScope.deleteItem(record.Id, $event)"></slds-button-svg-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="slds-col slds-size_6-of-12" ng-show="$root.showPanel">
        <div class="slds-p-around_small slds-border_top slds-border_right slds-border_bottom slds-border_left">
            <vloc-card ng-model="cards[1]" data="cards[1]" index="{{$index}}" session-id="{{sessionId}}" params-id="{{attrs.paramsId}}" ctrl="InsLargeGroupQuotePlansController"></vloc-card>
            <vloc-card ng-model="cards[2]" data="cards[2]" index="{{$index}}" session-id="{{sessionId}}" params-id="{{attrs.paramsId}}" ctrl="InsLargeGroupQuotePlansController"></vloc-card>
        </div>
    </div>
</div>