$header-bg: #F8FBFE;
$border-color: #EAEAEA;


 /* iframeresizer fixes for nds */
 .iframeresizer--child .via-nds .nds-knowledge-block {
    position: absolute;
    .nds-right_panel {
      height: auto;
    }
}

.via-nds {
    .vloc-ins-product-details-compare-modal {
        ~ .slds-backdrop {
            background-color: rgba(#16325C, 0.96);
            opacity: 0;
            visibility: hidden;
            transition-duration: .4s;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 9000;

            &.slds-backdrop--open {
                visibility: visible;
                opacity: 1;
                transition: opacity .4s linear;
            }
        }
    }
}
.via-slds {
    .vloc-ins-product-details-compare-modal {
        ~ .slds-backdrop {
            background-color: rgba(#16325C, 0.96);
            opacity: 1;
            visibility: visible;
        }
        .vloc-ins-product-details-compare-modal-container {
            width: 86%;
            max-width: 75rem;
            border-radius: 0;

            &.single-product {
                width: 50%;
            }

            .vloc-ins-product-details-compare-modal-header {
                border: none;
                text-align: left;
                padding: 1.25rem 1.5rem;
                background-color: $header-bg;
                border-radius: 0;

                .vloc-ins-product-details-compare-modal-close-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 1rem;
                }

                h2 {
                    font-size: 1.75rem;
                    font-weight: 400;
                }
            }
            .vloc-ins-product-details-compare-modal-content-container {
                padding: 1.25rem 1.5rem;
                font-size: 1rem;

                &:last-child {
                    border-radius: 0;
                }

                .vloc-ins-product-details-compare-modal-top {
                    text-align: center;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid $border-color;

                    .vloc-ins-product-details-compare-modal-product-container {
                        min-height: 7rem;
                        position: relative;
                    }

                    .vloc-ins-product-details-compare-modal-product-name {
                        font-size: 1.125rem;
                        font-weight: 400;
                        line-height: 1.3;
                        margin-bottom: 0.25rem;
                        max-height: 3rem;
                        overflow: hidden;
                    }

                    .vloc-ins-product-details-compare-modal-product-bottom-wrapper {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;

                        .vloc-ins-product-details-compare-modal-product-price {
                            display: block;
                            font-weight: 400;
                            font-size: 1.25rem;
    
                            span {
                                font-size: 0.875rem;
                                font-weight: 100;
                            }
                        }

                        .vloc-ins-product-details-compare-modal-product-select-btn {
                            width: 60%;
                            margin: 0 auto;
                        }
                    }
                }

                .vloc-ins-product-details-compare-modal-attr-rows-container {
                    .vloc-ins-product-details-compare-modal-attr-row {
                        padding: 0.5rem 0;
                        border-bottom: 1px solid $border-color;

                        .vloc-ins-product-details-compare-modal-attribute-label {
                            padding-left: 0.25rem;
                        }

                        .vloc-ins-product-details-compare-modal-attribute-value {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .via-slds {
        .vloc-ins-product-details-compare-modal {
            .vloc-ins-product-details-compare-modal-container {
                .vloc-ins-product-details-compare-modal-content-container {
                    .vloc-ins-product-details-compare-modal-attr-rows-container {
                        .vloc-ins-product-details-compare-modal-attr-row {
                            padding: 0;
                            border: none;

                            .vloc-ins-product-details-compare-modal-attribute-label {
                                background-color: $header-bg;
                                text-align: center;
                                padding: 0.5rem 0;
                            }

                            .vloc-ins-product-details-compare-modal-attribute-value {
                                padding: 0.5rem 0;
                                border-right: 1px solid $border-color;

                                &:last-child {
                                    border-right: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .via-slds {
        .vloc-ins-product-details-compare-modal {
            .vloc-ins-product-details-compare-modal-container {
                width: 100%;
                max-width: none;
                padding: 0;
                margin: 0;

                .vloc-ins-product-details-compare-modal-header {
                    padding: 0;
                    height: 2.5rem;

                    h2 {
                        display: none;
                    }
                }

                .vloc-ins-product-details-compare-modal-content-container {
                    height: 100%;
                    padding: 1rem 0;
                    font-size: 0.875rem;
                }

                &.single-product {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .via-slds {
        .vloc-ins-product-details-compare-modal {
            .vloc-ins-product-details-compare-modal-container {
                .vloc-ins-product-details-compare-modal-content-container {
                    .vloc-ins-product-details-compare-modal-top {
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        -ms-flex-align: start;
                        align-items: flex-start;
                        max-height: 8rem;
                        overflow: hidden;

                        .vloc-ins-product-details-compare-modal-product-container {
                            margin-bottom: 1rem;
                        }
                    }

                    .vloc-ins-product-details-compare-modal-attr-rows-container {
                        .vloc-ins-product-details-compare-modal-attr-row {
                            max-height: 4.625rem;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}