.via-slds{
    .vloc-font-container{
        .vloc-enrollment-home{
            height: 9.6rem;
            position: absolute;
            top: 3rem;
            left: 35%;
        }
        .vloc-background{
            height: 15rem;
            width: 100%;
            position: relative;
            text-align: center;
            color: white;
            opacity: .4;
        }
        .vloc-bold{
            font-weight: 400;
        }
    }
}