.via-slds{
    .vloc-rating-map-container {
        position: relative;

    }

    .vloc-min-height{
        min-height: 45%;
    }
    .vloc-divider{
        &:last-child{
            display: none;
        }
    }
    .vloc-simulation-column{
        margin: 0;
        position: -webkit-sticky;
        top: -1px;
        width: 22.5%;

        .vloc-feed{
            position: absolute;
            right: 23%;
            top: 11px;

            .slds-button__icon{
                height: 1.25rem;
                width: 1.25rem;
            }
        }
        .vloc-options-map-container{
            min-height: 6rem;
        }
    }
    .vloc-pointer{
        &:hover{
            cursor: pointer
        }
    }

    .slds-textarea{
        border-radius: 0.25rem;
        width: 100%;
        height: 6rem;
        max-height: 6rem;
        padding: 0;
        position: absolute;
        border-right-width: 0.1rem;
    }

    .vloc-italic{
        font-style: italic; 
    }
     .vloc-ins-product-rules-container {
        color: #16325c;

        .vloc-ins-product-rules-heading {
            font-weight: 400;
            padding-left: 3.4rem;
            padding-bottom: 0.5rem;
        }
        
    }
    monaco-editor {
            border-radius: 0.25rem;
            width: 100%;
            height: 6rem;
            max-height: 6rem;
            padding: 0;
            position: absolute;

            > .monaco-editor {
                border-radius: 0.25rem;

                > .overflow-guard {
                    border-radius: 0.25rem;
                    padding: 0.25rem 0;

                    > .monaco-scrollable-element {
                        > .monaco-editor-background {
                            height: 500% !important;
                            width: 100% !important;
                        }
                    }
                }
            }
        }

     .vloc-ins-product-rules-eligibility-container {
        .vloc-ins-product-rules-eligibility-expression {
            min-height: 5rem;
            position: relative;
           .slds-textarea{
            transition: border-color 150ms ease-in;

                &.rule-saved {
                    border-color: rgba(#04844b, 0.7);
                }

                &.rule-unsaved {
                    border-color: rgba(#ffb75d, 0.7);
                }

                &.rule-save-error {
                    border-color: rgba(#c23934, 0.7);
                }
            }
        }
    }

    .vloc-attr-add-new{
        &:active{
            box-shadow: none;
        }
        &:focus{
            box-shadow: none;
        }
    }

    .vloc-card-header{
        &:hover{
            cursor: move;

        }
    }

     .vloc-attr-rules{
        background: #0070D2;
        color: white;
        border-radius: 1.5rem;
        padding: 0rem .1rem;
        position: relative;
        font-size: 1rem;
        top: .1rem;
        &:hover{
            cursor: pointer;
        }

        .number{
            font-size: .75rem;
            padding-left: .21rem;
            position: relative;
            top: -.1rem;
            left: .15rem;
        }

        .slds-button__icon{
            position: relative;
            top: -.1rem;
            width: 1.2rem;
            height: 1.2rem;
        }

    }

     
}