// Variables:
$royal-blue: #0070D2;
$light-blue-bg: #F8FBFE;
$text-navy: #00396b;
$dark-navy: #19355E;
$attr-label: #16325C;
$border-color: #d8dde6;
$coverage-background: #f7fafe;

.via-nds {
    .vloc-ins-multi-person-container {
        width: 100%;
    }
    .vloc-ins-multi-person-total {
        font-size: 1rem;
        padding: 0.25rem 0 0;
        margin-bottom: 2rem;
        text-align: center;

        .vloc-ins-multi-person-total-price {
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
    .vloc-ins-multi-person-label-column-label {
        font-size: 1rem;
        padding: 1rem;

        &.vloc-ins-multi-person-label-column-label-blank {
            max-height: 7rem;
            height: 7rem;
        }

        &.vloc-ins-multi-person-label-bold {
            font-weight: bold;
        }

        &.vloc-ins-multi-person-label-coverage-row {
            padding-top: 0;
            padding-bottom: 0.25rem;
            padding-right: 0;

            &.vloc-ins-multi-person-label-first-coverage {
                margin-top: 0.25rem;
            }

            .vloc-ins-multi-person-label-column-label-type {
                padding: 1rem 0 0.75rem;
                font-weight: bold;
                max-height: 3.25rem;
                height: 3.25rem;
            }
            .vloc-ins-multi-person-label-column-label-text {
                background-color: $coverage-background;
                padding: 0.9rem 0.5rem;
                font-size: 0.875rem;
                max-height: 3.25rem;
                height: 3.25rem;

            }
            .vloc-ins-multi-person-label-column-label-description {
                .description-icon {
                    fill: $royal-blue;
                    cursor: help;
                }

                + .popover {
                    z-index: 5002;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    .vloc-ins-coverages-coverage-row-container {
        position: relative;
    }
    .vloc-ins-coverages-bold {
        font-weight: bold;
    }
    .vloc-ins-coverages-coverage-row-outer-container {
        display: none;
        position: absolute;
        z-index: 5001;
        background-color: #fff;
        border-radius: .25rem;
        width: 20rem;
        min-height: 2rem;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
        border: 1px solid $border-color;
        padding: 1rem;
        top: 50%;
        left: 100%;
        transform: translateX(-50%) translateY(-50%);

        &.popover-open {
            display: block;
        }

        .vloc-ins-attribute-component {
            .vloc-ins-attribute-component-name {
                font-size: 0.75rem;
                line-height: 1rem;

                button {
                    min-width: 5rem;
                }
            }
        }
    }

    .vloc-ins-coverages-coverage-row-flex-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        cursor: auto;

        .vloc-coverage-edit {
            border: none;
            line-height: 1.2;
        }
    }

    .vloc-ins-multi-person-child-outer-container {
        overflow-x: auto;
        padding-top: 15rem;
        padding-bottom: 15rem;
        margin-top: -15rem;
        margin-bottom: -15rem;
    }

    .vloc-ins-multi-person-child-inner-container {
        &:before, &:after {
            content: '';
            margin: auto;
        }
    }

    .vloc-ins-multi-person-column {
        flex: 0 0 auto;
        min-width: 10rem;
    }

    .vloc-ins-multi-person-child-column-header {
        max-height: 7rem;
        height: 7rem;
        font-size: 1rem;
        padding: 0.75rem 1rem;

        .vloc-ins-multi-person-child-name {
            font-size: 1rem;
            font-weight: bold;
        }
        .vloc-ins-multi-person-child-demographics {
            font-size: 0.875rem;
        }
        .vloc-ins-multi-person-child-total-price {
            font-size: 1rem;
            padding: 0.25rem 0 0;

            span {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }

    .vloc-ins-multi-person-child-column-configuration {
        max-height: 3.5625rem;
        height: 3.5625rem;
        font-size: 1rem;
        padding: 0.75rem 1rem;
        border-top: 1px solid #dddbda;
    }

    .vloc-ins-multi-person-child-column-top-attribute {
        max-height: 3.625rem;
        height: 3.625rem;
        font-size: 1rem;
        padding: 0.75rem 1rem;
        border-top: 1px solid #dddbda;
        border-bottom: 1px solid #dddbda;

        .vloc-ins-attribute-component-name {
            display: none;
        }
    }

    .vloc-ins-coverages-container.vloc-ins-multi-item-child-customize {
        margin-top: 3.5rem;

        .vloc-ins-coverages-card {
            padding-bottom: 0;
            margin-bottom: 0.25rem;
            max-height: 3.25rem;
            height: 3.25rem;
            background-color: $coverage-background;

            &:first-child {
                // first child is always the root product from the coverages component, we don't need it in this template.
                display: none;
            }
            &.optional-coverage {
                .vloc-ins-coverages-heading {
                    display: none;
                }
            }
            &.show-type-header {
                margin-top: 3.5rem;
            }
            .vloc-ins-coverages-card-inner-wrapper {
                padding: 0;
                background-color: transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                .vloc-ins-coverages-header-container {
                    display: none;
                }

                &.optional-coverage {
                    &:hover {
                        border-color: inherit;
                    }
                }

                .vloc-product-attribute-category-container {
                    display: flex;
                    border-bottom: none;

                    .vloc-ins-coverages-collapse-toggle {
                        display: none;
                    }
                }
            }
            &:hover {
                &.optional-coverage {
                    .vloc-ins-coverages-card-inner-wrapper {
                        background-color: transparent;

                        &.optional-coverage {
                            background-color: inherit;
                        }
                    }
                }
            }
        }

        .vloc-ins-coverages-coverage-printed-optional-checkbox-container {
            display: flex;
            align-items: center;
            width: 1.5rem;

            &:focus {
                outline: none;
            }
        }
    }

    .vloc-ins-attribute-component-container {
        margin: 0;
        display: block;

        .vloc-ins-attribute-component,
        .vloc-ins-attribute-component-limit {
            flex: none;
            width: 100%;
            max-width: 100%;
        }

        .vloc-ins-attribute-component-limit-input {
            .layout-newport {
                .nds-input {
                    padding-left: 0;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .vloc-ins-coverages-container {
            .vloc-ins-coverages-card {
                .vloc-product-attribute-category,
                .vloc-product-attribute-category.category-accordion {
                    margin: 0;
                }
            }
        }
    }
}