@import "ins-product-attributes-variables";

.via-slds{
    .vloc-attr-row {
        position: relative;
        &:hover{
            .vloc-attr-data-cell{
                cursor: pointer; 
                background: $cards-gray;
            }
        }
        &.selected{
            .vloc-attr-data-cell{
                background: $cards-gray;
            }
        }
        .vloc-attr-cell {
            .vloc-attr-data-cell{
                min-height: 2.3rem;
                border-bottom: 1px solid $cards-border-gray;
            }
        }
        .vloc-attr-fly-out{
            position: absolute; 
            right: 0;
            bottom: 0;
        }
    }
}